
.idea/
.idea/*.xml
.idea/**/

.vscode/**
.vscode/

**/.gradle/
**/build/

*.class

.idea/caches/build_file_checksums.ser

.idea/**/contentModel.xml


build
.gradle
.idea/**/gradle.xml
.idea/**/libraries

run/